extends layouts/main-layouts.pug

block content
    script.
        var postId = '!{postId}';
    .postContainer

    +createPostModals(userLoggedIn)

block scripts 
    script(src='/js/postsPage.js')